.percentage svg {
  padding: 3px;
  border-radius: 50%;
  background-color: black;
}

.card:hover .cardImage {
  transform: scale(1.25) rotate(2deg);
}

.cardImage {
  transition: all ease-in-out 0.4s;
}
